CONVEX_DEPLOYMENT=""
CONVEX_DEPLOY_KEY=""

NEXT_PUBLIC_CONVEX_URL=""
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_FRONTEND_API_URL=""

UPLOADTHING_TOKEN=""
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

GEMINI_API_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""

STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""

LEMONSQUEEZY_API_KEY=""
LEMONSQUEEZY_WEBHOOK_SECRET=""

LEMONSQUEEZY_STORE_ID=""
NEXT_PUBLIC_LEMONSQUEEZY_STARTER_VARIANT=""
NEXT_PUBLIC_LEMONSQUEEZY_PRO_VARIANT=""


NEXT_PUBLIC_STRIPE_STARTER_PRICE_ID=""
NEXT_PUBLIC_STRIPE_PRO_PRICE_ID=""

NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com

# Beehiiv Newsletter Integration
BEEHIIV_API_KEY=""
BEEHIIV_PUBLICATION_ID=""
