@keyframes blinkCursor {
    50% {
      border-right-color: transparent;
    }
  }
  
  @keyframes typeAndDelete {
    0%,
    10% {
      width: 0;
    }
    45%,
    55% {
      width: 11em;
    }
    90%,
    100% {
      width: 0;
    }
  }
  
  .text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid #374151;
    animation: typeAndDelete 6s steps(11) infinite,
               blinkCursor 0.5s step-end infinite alternate;
  }

  .overlay-enter {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  
  .overlay-enter-active {
    opacity: 1;
    visibility: visible;
  }
  
  .overlay-exit {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  
  .overlay-exit-active {
    opacity: 0;
    visibility: hidden;
  }